alpaca-trade-api==0.20
asn1crypto==0.23.0
asyncio-nats-client==0.8.2
awscli==1.15.45
awsebcli==3.14.6
bcrypt==3.1.4
boto3==1.7.59
botocore==1.12.15
cement==2.8.2
certifi==2022.12.7
cffi==1.11.2
chardet==3.0.4
colorama==0.3.9
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.4.1
cycler==0.10.0
decorator==4.1.2
Django==2.1.3
django-storages==1.6.6
django-webpack-loader==0.6.0
djangorestframework==3.8.2
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
freeze==1.0.10
hellosign-python-sdk==3.8.6
httpserver==1.1.0
idna==2.6
image==1.5.16
inflect==1.0.0
inflection==0.3.1
ipython-genutils==0.2.0
itypes==1.1.0
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter-core==4.4.0
keyboard==0.13.1
MarkupSafe==1.0
matplotlib==2.1.0
more-itertools==4.3.0
mysqlclient==1.3.12
nbformat==4.4.0
ndg-httpsclient==0.4.3
num2words==0.5.7
numpy==1.13.3
olefile==0.44
optional-django==0.3.0
pandas==0.21.0
paramiko==2.4.2
pathspec==0.5.5
patsy==0.5.1
Pillow==4.3.0
pyasn1==0.3.7
pycparser==2.18
PyJWT==1.5.3
PyNaCl==1.2.0
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyperclip==1.6.0
PyQt5==5.10
PySocks==1.6.8
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
Quandl==3.2.1
requests==2.20.1
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.0.0
semantic-version==2.5.0
sip==4.19.7
six==1.11.0
statsmodels==0.9.0
stripe==1.73.0
tabulate==0.7.5
termcolor==1.1.0
traitlets==4.3.2
twilio==6.10.0
uritemplate==3.0.0
urllib3==1.22
virtualenv==15.1.0
virtualenvwrapper-win==1.2.2
webpack==6.0.0
websocket-client==0.44.0
websockets==7.0
