packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []

commands:
  97_pip_upgrade:
    command: "/opt/python/run/venv/bin/pip install --upgrade pip"
    ignoreErrors: false

  98_npm_install:
    command: "source /opt/python/run/venv/bin/activate && npm install"
    ignoreErrors: true