option_settings:
  - option_name:  APCA_API_BASE_URL
    value:  https://paper-api.alpaca.markets

  - option_name:  APCA_API_BASE_PAPER
    value:  https://paper-api.alpaca.markets

  - option_name:  APCA_PUBLIC_KEY
    value:  AKHJ8PWF3ZFFY80RTHSZ

  - option_name:  APCA_PRIVATE_KEY
    value:  NWfbVkeAbR95F/2hWaMJWmx/GRk9xf8U2BVOBNEB

  - option_name: APCA_PAPER_PUBLIC
    value:  AKCZ31SOGBRUUWIYKPWS

  - option_name: APCA_PAPER_PRIVATE
    value: In9f9Xh3FB1jwkCnmcTqDqN/3qr30hqOsj8Ju2XT